<template name="editLogin">
  <div class="well">
    <form class="form-horizontal">
      <fieldset>
        <legend>{{_ "edit_password_title"}} {{app.name}}</legend>

          <div class="form-group">
            <label class="col-md-3 control-label" for="inputLogin">{{_ "login_email"}}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="inputLogin" placeholder="{{_ "login_email"}} {{_ "for"}} {{app.name}}" value="{{login}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="inputPassword">{{_ "password"}}</label>
            <div class="col-md-6">
              <input type="password" class="form-control" id="inputPassword" placeholder="{{_ "password_placeholder_edit"}}" value="">
            </div>
          </div>
        <button  class="btn btn-primary saveAppLogin">{{_ "save"}}</button>
        <a href="{{pathFor 'modifyApp'}}" class="btn">{{_ "cancel"}}</a>
      </fieldset>
    </form>
    {{> loginUsers}}
  </div>
</template>