<template name="shareLogin">
  <div class="well">
    <form class="form-horizontal">
      <fieldset>
        <legend>Share {{app.name}} login and password with</legend>
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputEmail">Email</label>
          <div class="col-md-6">
            <input type="email" class="form-control" id="inputEmail" placeholder="your contact email address" value="">
          </div>
        </div>
        <button  class="btn btn-primary shareLogin">Share</button>
        <a href="{{pathFor 'modifyApp'}}" class="btn">Cancel</a>
      </fieldset>
    </form>
    {{> loginUsers}}
  </div>
</template>