<template name="addApp">
  <div class="well">
    <form class="form-horizontal">
      <fieldset>
        <legend>Add {{name}}</legend>
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputLogin">Login</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputLogin" placeholder="username or email" value="{{login}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputPassword">Password</label>
          <div class="col-md-6">
            <input type="password" class="form-control" id="inputPassword" placeholder="if you don't want to remember any more time" value="{{password}}">
          </div>
        </div>
        <button  class="btn btn-primary addApp">Add</button>
        <a href="{{pathFor 'home'}}" class="btn">Cancel</a>
      </fieldset>
    </form>
  </div>
</template>