<template name="tutorial_step1">
  <h3>{{_ "tuto_s1_title"}}</h3>
  <p>{{_ "tuto_s1_l1"}}</p>
  <p>{{_ "tuto_s1_l2"}}</p>
</template>

<template name="tutorial_step2">
  <h3>{{_ "tuto_s2_title"}}</h3>
  <p>{{_ "tuto_s2_l1"}}</p>
  <ul>
     <li>{{_ "tuto_s2_l2"}}</li>
     <li>{{_ "tuto_s2_l3"}}</li>
     <li>{{_ "tuto_s2_l4"}}</li>
   </ul>
</template>

<template name="tutorial_step3">
  <h3>{{_ "tuto_s3_title"}}</h3>
  <p>{{_ "tuto_s3_l1"}}</p>
  <ul>
     <li>{{_ "tuto_s3_l2"}}</li>
     <li>{{_ "tuto_s3_l3"}}</li>
   </ul>
  <p>{{_ "tuto_s3_l4"}}</p>
</template>

<template name="tutorial_step4">
  <h3>{{_ "tuto_s4_title"}}</h3>
  <p>{{_ "tuto_s4_l1"}}</p>
</template>