<template name ="home">
  <div class="well">
    <h1>gotLog<strong>in</strong> <small>store and share passwords</small></h1>
    <hr>
    <p class="text-justify">This all started because of shared passwords on a Post-it&reg; at the office.</p>
    <p class="text-justify">Here you can <strong>create buttons linking to a sign-in form of a website</strong> (url, ftp, htpassword, etc). Then <strong>attach the login and password</strong> to it.  Now you can <strong>share this buttons</strong> with whoever has an email address. Or you can keep it for yourself as an auto-connecting bookmark to your stuff. To be safe, <strong>the password is strongly encrypted in your browser before being stored</strong> in the server.</p>
    <p class="text-justify"><strong>You are allways in control of who you are sharing the password with</strong>. If you change it, it’s automatically synced to all the peoples you are sharing it with. Best of all, if you remove a person from your sharing list, the button disappear from his dashboard without a page refresh.</p>
    <p class="text-justify">Since <strong>you should not share a password</strong> to stay secure. This is undoubtfully a <strong>very bad idea</strong>, but sometimes you need to do it and it beats the Post-it&reg; issue.</p>
    <p class="text-justify">Make sure you reset those shared passwords every couple months to make it more secure. Remember, <strong>everybody stays in sync</strong>.</p>
    <p class="text-justify">To make this all safe you have to <a href="/sign-in" title="login">login</a> or <a href="/sign-up" title="">create an account</a> to get started.</p>
    <p></p>
    <p class="text-justify"><small>PS: we are not affiliated with the <a href="http://www.post-it.com/" title="Post-it®">Post-it&reg;</a> brand and we keep using and loving them, but not for passwords anymore ;)</small></p>
  </div>
</template>