<template name ="home">
  <div class="well">
    <h1>gotLog<strong>in</strong> <small>{{_ "baseline"}}</small></h1>
    <hr>
    <p class="text-justify">{{_ "home_l1"}}</p>
    <p class="text-justify">{{_ "home_l2"}}</p>
    <p class="text-justify">{{_ "home_l3"}}</p>
    <h3>{{_ "home_step_title"}}</h3>
    <ol>
        <li>{{_ "home_step_1"}} <a href="{{pathFor 'createApp'}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> {{_ "create"}}</a></li>
        <li>{{_ "home_step_2"}}</li>
        <li>{{_ "home_step_3"}}</li>
    </ol>
    <h3>{{_ "home_result"}}</h3>
    <p class="text-justify">{{_ "home_l4"}}</p>
    <p class="text-justify">{{_ "home_l5"}} <a href="/sign-in" title="login">{{_ "login"}}</a> {{_ "or"}} <a href="/sign-up" title="">{{_ "create_account"}}</a> {{_ "started"}}</p>
  </div>
</template>