<template name ="home">
  <div class="well">
    <h1>gotLog<strong>in</strong> <small>the place to share passwords</small></h1>
    <p>This all project started because of passwords being shared on a Post-it&reg; at the office.</p>
    <p class="text-justify">Here you can <strong>create buttons linking to a sign-in form of a website</strong> (url, ftp, htpassword, etc). Then you <strong>attach the login and password to it</strong>. To make it more secure, it's encrypted in your browser before being saved on the server. You can now <strong>share this buttons with whoever has an email address</strong>.</p>
    <p class="text-justify">After <strong>you keep control of who you are sharing the password with</strong>. If you change it, it’s automatically synced to all the peoples you are sharing it and they don't even notice. Best of all, if you remove a person from your sharing list, the button disappear from his dashboard without a page refresh.</p>
    <p class="text-justify">Since to be secure <strong>you should not share a password</strong>. This is undoubtfully a <strong>very bad idea</strong>, but <strong>sometimes you need to do it</strong> and it beats the Post-it&reg; problem.</p>
    <p class="text-justify">Make sure you renew those shared passwords every couple months to make it more secure. Remember, <strong>everybody stays in sync</strong>.</p>
    <p>To make this all secure you have to <a href="/sign-in" title="login">login</a> or <a href="/sign-up" title="">create an account</a> to get started.</p>
    <p></p>
    <p><small>PS: we are not affiliated with the <a href="http://www.post-it.com/" title="Post-it®">Post-it&reg;</a> brand and we keep using and loving them :)</small></p>
  </div>
</template>