<template name="listApp">
  {{#each AppsList}}
    <div class="col-xs-2 text-center item">
      <a href="/add/{{_id}}" title="{{_ "add"}} {{name}}">
        <div class="icon-container">
          <img src="{{image}}" alt="{{name}}" class="img-rounded">
        </div>
        <caption class="btn {{style}} btn-xs">{{name}}</caption>
        <div class="clearfix"></div>
        <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> {{_ "add"}}</button>
      </a>
    </div>
  {{/each}}
  {{> createButton}}
</template>