<template name="layout">
  <div class="container-fluid">
    {{> navbar }}
  </div>
  <div class="container-fluid">
    <div class="row">
      {{> bootstrapAlerts}}
      {{> yield }}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <p class="text-muted text-center">Theme: <a class="btn btn-xs btn-default" id="day">day</a> <a class="btn btn-xs btn-black" id="night">night</a> | <a href="https://github.com/guidouil/gotlogin" title="Fork me on GitHub" target="_blank">GitHub</a> | <a href="https://twitter.com/gotlogin" title="@gotlogin" target="_blank">Twitter</a> | Coded with <a href="http://meteor.com" title="MeteorJS" target="_blank">Meteor</a> and <a href="mailto:igotlogin@gmail.com"><span class="glyphicon glyphicon-heart"></span></a> in Caen, France.</p>
    </div>
  </div>
</template>