<template name="dash">
  <div id="list">
    {{#each Links}}
    	<div class="col-xs-3 text-center item" data-id="{{_id}}">
      {{#if isFtp app.method}}
        <a href="ftp://{{#if appLogin.login}}{{appLogin.login}}:{{decryptPassword appLogin.password appLogin._id}}@{{/if}}{{ftpDomain app.url}}" title="{{app.name}}" class="btn {{app.style}}" target="_blank">
          {{#if app.image}}
            <div class="text-center">
              <img src="{{app.image}}" alt="{{app.name}}" class="img-rounded">
              <p style="width:100%" class="text-center">{{app.name}}</p>
            </div>
          {{else}}
            {{app.name}}
          {{/if}}
        </a>
      {{else}}
        {{#if isHttp app.method}}
          <a href="{{httpProtocol app.url}}://{{#if appLogin}}{{appLogin.login}}:{{decryptPassword appLogin.password appLogin._id}}@{{/if}}{{httpUrl app.url}}" title="{{name}}" class="btn {{app.style}}" target="_blank">
            {{#if app.image}}
              <div class="text-center">
                <img src="{{app.image}}" alt="{{app.name}}" class="img-rounded">
                <p style="width:100%" class="text-center">{{app.name}}</p>
              </div>
            {{else}}
              {{app.name}}
            {{/if}}
          </a>
        {{else}}
          <form action="{{app.url}}" method="{{app.method}}" target="_blank">
            {{#if appLogin}}
            <input type="hidden" name="{{app.loginName}}" value="{{appLogin.login}}">
            {{/if}}
            {{#if appLogin}}
            <input type="hidden" name="{{app.passwordName}}" value="{{decryptPassword appLogin.password appLogin._id}}">
            {{/if}}
            <button class="btn {{app.style}}" type="submit">
              {{#if app.image}}
                <div class="text-center">
                  <img src="{{app.image}}" alt="{{app.name}}" class="img-rounded">
                  <p style="width:100%" class="text-center">{{app.name}}</p>
                </div>
              {{else}}
                {{app.name}}
              {{/if}}
            </button>
          </form>
        {{/if}}
      {{/if}}
      </div>
    {{/each}}
    {{sortable}}
  </div>
</template>