<template name="myApp">
  {{#each Applications}}
    <div class="col-xs-2 text-center item">
        <a href="/edit/{{_id}}" title="Edit {{name}}">
          <div class="icon-container">
            <img src="{{image}}" alt="{{name}}" class="img-rounded">
          </div>
        </a>
        <div class="clearfix"></div>
        <div class="btn-group">
          <a href="/edit/{{_id}}" class="btn {{style}} btn-xs" title="Edit {{name}}"><span class="glyphicon glyphicon-pencil"></span> {{name}}</a>
          <button class="btn btn-warning btn-xs removeApp" title="Delete {{name}}"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
    {{/each}}
    {{> createButton}}
</template>